.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0295a9;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 360px;
}

.leftContainerObjects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;
    margin-left: 16px;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 360px;
}

.rightContainerObjects {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 16px;
    margin-right: 16px;
}

.feather {
    max-width: 42px;
    max-height: 42px;

}

.about, .parrots, .contact, .logo {
    color: #fdd037;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoImage {
    max-width: 48px;
    max-height: 48px;
    
    border: 3px solid #ffffff;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 360px;
    margin-right: 360px;

    gap: 38px;
}

.title-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 300px;
}

.main-hero {
    font-size: 48px;
    color:#0295a9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secondary-hero {
    font-size: 18px;
    color:#12adc1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titleImage {
    max-width: 700px;
    max-height: 300px;
    border: 5px solid #12adc1;
    border-radius: 100px;
}

.information {
    margin-top: 360px;
    margin-bottom: 360px;
    padding: 100px;
    background-color:#0295a9;
}

.info-hero {
    text-align: center;
    color:#fdd037;

    margin-bottom: 100px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.skipper, .butchie, .pickles, .blueford {
    max-width: 350px;
}

.parrot-info {
    height: 350px;
    width: 350px;
    border: 5px solid #12adc1;
    border-radius: 100px;
    object-fit: cover;
}

.parrot-text {
    text-align: center;
    margin-top: 12px;
    color:#fdd037;
}

  
button.title-button {
    font-size: 24px;

    background-color: #0295a9;
    color: #fdd037;

    height: 50px;
    width: 200px;

    padding: 8px 16px;
    border-radius: 8px;

    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

a.rick-roll {
    width: 200px;
    margin-top:auto;
}

body {
    margin: 0;
    padding: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 360px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
}

#quote-author {
    font-size: 24px;
    margin-left: 500px;
    font-weight: bold;
}

.call-box {
    display: flex;
    align-items: center;
    text-align: left;

    margin: 360px;
    padding: 50px;

    border: 50px solid #12adc1;
    border-radius: 8px;
    background-color: #12adc1;
}

.box-title {
    font-size: 36px;
    font-weight: bold;
}

.box-text {
    font-size: 24px;
}

button.call-button {
    font-size: 24px;

    background-color: #0295a9;
    color: #ffffff;

    height: 50px;
    width: 200px;

    margin-left: 24px;
    padding: 8px 16px;
    border-radius: 8px;

    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;

    background-color: #0295a9;
}