.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0295a9;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 360px;
}

.leftContainerObjects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;
    margin-left: 16px;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 360px;
}

.rightContainerObjects {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 16px;
    margin-right: 16px;
}

.feather {
    max-width: 42px;
    max-height: 42px;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.about, .parrots, .contact, .logo {
    color: #fdd037;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: relative
}

.logoImage {
    max-width: 48px;
    max-height: 48px;
    
    border: 3px solid #fdd037;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    display: flex;
    margin-top: 64px;
    margin-bottom: 425px;
    margin-left: 360px;
    margin-right: 360px;

    gap: 38px;
}

.title-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 300px;
}

.main-hero {
    font-size: 48px;
    color:#0295a9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secondary-hero {
    font-size: 18px;
    color:#12adc1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titleImage {
    max-width: 700px;
    max-height: 300px;
    border: 5px solid #12adc1;
    border-radius: 100px;
}

.information {
    margin-top: 360px;
    margin-bottom: 360px;
    padding: 100px;
    padding-bottom: 400px;
    
    background-color:#0295a9;
}

.info-hero {
    text-align: center;
    color:#fdd037;
    
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin-bottom: 100px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.skipper, .butchie, .pickles, .blueford {
    max-width: 350px;
}

.parrot-info {
    height: 350px;
    width: 350px;
    border: 5px solid #12adc1;
    border-radius: 100px;
    object-fit: cover;
}

.parrot-text {
    text-align: center;
    margin-top: 12px;
    color:#fdd037;
    
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  
button.title-button {
    font-size: 24px;

    background-color: #0295a9;
    color: #fdd037;

    height: 50px;
    width: 200px;

    padding: 8px 16px;
    border-radius: 8px;

    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    box-shadow: inset 0 0 0 0 #fdd037;
    transition: ease-out 0.3s;
    font-size: 24px;
    outline: none;
}

button.title-button:hover {
    box-shadow: inset 200px 0 0 0 #fdd037;
    color: #0295a9;
}

a {
    position: relative;
    text-decoration: none;
}

a.logo::after, a.about::after, a.parrots::after, a.contact::after {
    content: "";
    position: absolute;
    background-color: #fdd037;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

a.rick-roll {
    width: 200px;
    margin-top:auto;
}

a.github-footer {
    color: #fdd037;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 360px;
    background-color: #12adc1;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #fdd037;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#quote-author {
    font-size: 24px;
    margin-left: 500px;
    font-weight: bold;
    color: #fdd037;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.call-box {
    display: flex;
    align-items: center;
    text-align: left;

    margin: 360px;
    padding: 50px;

    border: 50px solid #12adc1;
    border-radius: 8px;
    background-color: #12adc1;
}

.box-title {
    font-size: 36px;
    font-weight: bold;
    color: #fdd037;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.box-text {
    font-size: 24px;
    color: #fdd037;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.call-button {
    font-size: 24px;

    background-color: #0295a9;
    color: #ffffff;

    height: 50px;
    width: 200px;

    margin-left: 24px;
    padding: 8px 16px;
    border-radius: 8px;

    cursor: pointer;
    color: #fdd037;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    box-shadow: inset 0 0 0 0 #fdd037;
    transition: ease-out 0.3s;
    font-size: 24px;
    outline: none;
}

button.call-button:hover {
    box-shadow: inset 200px 0 0 0 #fdd037;
    color: #0295a9;
}

.footer {
    display: flex;
    justify-content: center;

    background-color: #0295a9;
    color: #fdd037;
    
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}